@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@import '../../styles/css/halcyon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
ul li:has(ul),
ol li:has(ol) {
  list-style: none;
}
ol > li > ol > li {
  list-style: lower-alpha;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: var(--nord-snow-storm-3);
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--nord-snow-storm-3);
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  // svg[id^='mermaid-svg'] {
  //   background: black;
  // }

  .dark {


    --background: var(--halcyon-base-blue-01-hsl);
    --foreground: var(--nord-snow-storm-3);
    --card: var(--nord-polar-night-2);
    --card-foreground: var(--nord-snow-storm-3);
    --popover: var(--nord-polar-night-2);
    --popover-foreground: var(--nord-snow-storm-3);
    --primary: var(--nord-snow-storm-3);
    --primary-foreground:var(--nord-snow-storm-3)
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: var(--nord-snow-storm-3);
    --muted: var(--nord-polar-night-1);
    --muted-foreground: var(--nord-snow-storm-1);
    --accent: var(--nord-polar-night-3);
    --accent-foreground: var(--nord-snow-storm-3);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--nord-snow-storm-3);
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
