@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* latin-ext */
@font-face {
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/redhatmono/v11/jVyT7nDnA2uf2zVvFAhhzEsUXdxe1gjCexXweZQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/redhatmono/v11/jVyT7nDnA2uf2zVvFAhhzEsUXdxQ1gjCexXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/redhatmono/v11/jVyN7nDnA2uf2zVvFAhhzEsUVuxS3A_geSXx.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/redhatmono/v11/jVyN7nDnA2uf2zVvFAhhzEsUWOxS3A_geQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

svg {
    background: var(--mermaid-bg, black) !important;
}

.nodeLabel {
    color: var(--tw-prose-invert-body, white) !important;
    height: max-content !important;
    max-height: max-content;
}

.subgraph-lvl-0 {
    fill: #131a24 !important;
    stroke: #192330 !important;
}

.subgraph-lvl-1 {
    fill: #192330 !important;
    stroke: #212e3f !important;

}

.subgraph-lvl-2 {
    fill: #212e3f !important;
    stroke: #29394f !important;

}

.subgraph-lvl-3 {
    fill: #29394f !important;
    stroke: #39506d !important;

}

.label-container {
    fill: #29394f !important;
    stroke: var(--border) !important;

}

.label foreignObject {
    overflow: visible !important;
}