@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
    --mermaid-bg: transparent !important;

    .nodeLabel {
        color: var(--tw-prose-body) !important;
        height: max-content !important;
        max-height: max-content;
    }
    .marker {
        fill: #4C566Acc !important;
        stroke: #4C566A !important;
        stroke-width: 0.3px !important;
    }

    .edgePath, .flowchart-link {
        stroke: #4C566Acc !important;
        stroke-width: 1px !important;
    }

    .subgraph-lvl-0 {
        fill: #ECEFF4  !important;
        stroke: #ECEFF4 !important;
        stroke-width: 1px !important;
    }
    
    .subgraph-lvl-1 {
        fill: #D8DEE9 !important;
        stroke: #D8DEE9 !important;
        stroke-width: 1px !important;
        
    }
    
    .subgraph-lvl-2 {
        fill: #E5E9F0 !important;
        stroke: #E5E9F0 !important;
        stroke-width: 1px !important;
    }
    
    
    .label-container {
        fill: #D8DEE9 !important;
        stroke: #D8DEE9 !important;
        stroke-width: 1px !important;
    }

    .label foreignObject {
        overflow: visible;
    }
}


.dark {
    --mermaid-bg: transparent !important;

    .edgePath, .flowchart-link {
        stroke: #bae67ecc !important;
        stroke-width: 1px !important;
    }

    .nodeLabel {
        color: var(--tw-prose-invert-body) !important;
        height: max-content !important;
        max-height: max-content;
    }

    .marker {
        fill: #bae67edd !important;
        stroke: #bae67e99 !important;
        stroke-width: 0.3px !important;
    }

    .subgraph-lvl-0 {
        fill: #131a24 !important;
        stroke: #192330 !important;
    }

    .subgraph-lvl-1 {
        fill: #192330 !important;
        stroke: #212e3f !important;

    }

    .subgraph-lvl-2 {
        fill: #212e3f !important;
        stroke: #29394f !important;

    }

    .subgraph-lvl-3 {
        fill: #29394f !important;
        stroke: #39506d !important;

    }

    .label-container {
        fill: #29394f !important;
        stroke: var(--border) !important;

    }

    .label foreignObject {
        overflow: visible !important;
    }
}