:root {
    --nord-polar-night-1: 220 16% 22%;
    --nord-polar-night-2: 222 16% 28%;
    --nord-polar-night-3: 220 17% 32%;
    --nord-polar-night-4: 220 16% 36%;
    --nord-snow-storm-1: 219 28% 88%;
    --nord-snow-storm-2: 218 27% 92%;
    --nord-snow-storm-3: 218 27% 94%;
    --nord-frost-1: 179 25% 65%;
    --nord-frost-2: 193 43% 67%;
    --nord-frost-3: 210 34% 63%;
    --nord-frost-4: 213 32% 52%;
    --nord-aurora-red: 354 42% 56%;
    --nord-aurora-orange: 14 51% 63%;
    --nord-aurora-yellow: 40 71% 73%;
    --nord-aurora-green: 92 28% 65%;
    --nord-aurora-purple: 311 20% 63%;
}